.demo {
  background: white;
  color: black;
  padding: 10px 20px;
  border: 1px solid #ccc;
}
@media (prefers-color-scheme: dark) {
  .demo {
    background: black;
    color: white;
    border: 1px solid white;
  }
}